body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* index.css */
.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-link {
  padding: 10px 15px; /* Adjust padding as needed */
}
/* index.css or a separate CSS file */
.logo {
  margin-right: 10px; /* Adjust this value as needed */
}

